[View in Colaboratory](https://colab.research.google.com/github/Shreyas3108/Social-Media-KNN/blob/master/KNNExample.ipynb)

In [0]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt  
%matplotlib inline

In [0]:
df = pd.read_csv("https://raw.githubusercontent.com/Shreyas3108/Social-Media-KNN/master/Social_Network_Ads.csv")

In [0]:
#X = df.iloc[:, [2, 3]].values
#y = df.iloc[:, 4].values

In [0]:
df['Sex'] = df['Gender'].apply(lambda x : 1 if x == 'Male' else 0)

In [49]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased  Sex
0  15624510    Male   19            19000          0    1
1  15810944    Male   35            20000          0    1
2  15668575  Female   26            43000          0    0
3  15603246  Female   27            57000          0    0
4  15804002    Male   19            76000          0    1

In [0]:
x = df[['Age','EstimatedSalary','Sex']]
y = df['Purchased']

In [0]:
from sklearn.cross_validation import train_test_split

In [0]:
x_train , x_test , y_train , y_test = train_test_split(x,y ,test_size = 0.2)

In [53]:
df.shape

(400, 6)

In [54]:
x_train.shape

(320, 3)

In [0]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [0]:
from sklearn.neighbors import KNeighborsClassifier

In [0]:
clf = KNeighborsClassifier(n_neighbors= 7)

In [58]:
df.Purchased.value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [59]:
clf.fit(x_train , y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=7, p=2,
           weights='uniform')

In [0]:
y_pred = clf.predict(x_test)

In [0]:
from sklearn.metrics import confusion_matrix , accuracy_score

In [62]:
accuracy_score(y_test , y_pred)

0.8875

In [0]:
cm = confusion_matrix(y_test , y_pred)

In [64]:
cm

array([[46,  7],
       [ 2, 25]])